@use '../custom' as *;

// TOPBAR
.topbar{
    .web-info{
        .icon{
            i{
                color: $primary-color;
            }
        }
        .icon-text{
            p{
                font-family: 'Manrope',sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
                color: #fff;

                @include media-breakpoint-down (md){
                    font-size: 8px;
                }
            }

            h6{
                font-family: 'Teko',sans-serif;
                font-size: 21px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;

                @include media-breakpoint-down (md){
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
}

// SERVICES


// HEADLINE
.heading-line::before{
    content: '';
    display:block;
    width: 4rem;
    height:0.1rem;
    background-color: $primary-color;
    margin: 0 auto;
}


.heading-line::after{
    content: '';
    display:block;
    width: 0.5rem;
    height:0.5rem;
    top: 0.3rem;
    transform: translateY(-0.3rem);
    background-color: $primary-color;
    border-radius: 50%;
    margin: 0 auto;
}
